@model MyShulWorld.Models.IndexViewModel
@using Zmanim.Data

@{
    ViewBag.Title = "title";
}
<a href="/home/SubmitEventsForYear?year=2016" class="btn btn-primary">Populate Events For 2016</a>
<a href="/home/SubmitEventsForYear?year=2017" class="btn btn-primary">Populate Events For 2017</a>
<a href="/home/SubmitEventsForYear?year=2018" class="btn btn-primary">Populate Events For 2018</a>
<a href="/home/evententry"class="btn btn-primary">Event Entry</a>
<a href="/home/deleteAllEventTypesAndEvents" class="btn btn-danger">Delete All Events And EventTypes</a>
<div id="calendar" style="margin-top: 20px; margin-bottom: 40px;"></div>

@if (Model.AllEventTypes != null)
{
    foreach (EventType et in Model.AllEventTypes)
    {
        <a href="/home/eventEntry?eventTypeId=@et.ID">
            <h3>@et.Name</h3>
        </a>
    }
}

@*@section Scripts{
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <script src="~/Scripts/Index.js"></script>
}*@
