<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zmanim.Data.Properties.Settings.MyShulWorldConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MyShulWorld;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>