<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @* for datepicker *@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    @*end*@
    @*for timepicker*@
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/Content/wickedpicker.min.css" rel="stylesheet" />
    @*end*@
    @*for multiselect*@
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    @*end*@
</head>
<body>
    <div class="container"style="margin-top: 20px;">
        @RenderBody()
    </div>
@Scripts.Render("~/bundles/jquery")
    
    
@*<script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>*@


  @* for time picker & date picker *@
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
@*end*@
@*for multiselect*@
<script src="~/Scripts/jquery.multiselect.js"></script>
@*end*@
@* for timepicker *@
@*<script src="~/Scripts/bootstrap-timepicker.min.js"></script>*@
<script src="~/Scripts/wickedpicker.min.js"></script>
@*end*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>

    <script src="~/Scripts/Index.js"></script>
@* for datepicker *@
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
@*end*@  
@RenderSection("scripts", required: false)
</body>
</html>
